@{
    ViewData["Title"] = "Bem Vindo!";
}

<p class="text-center hidden-xs"><img src="~/assets/img/2doo-no-bg.png" alt="2doo"></p>
<p class="visible-xs"><img src="~/assets/img/2doo-no-bg.png" alt="2doo" class="img-responsive"></p>